<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
          }
          th, td {
            padding: 15px;
          }
          tr:hover {background-color: hsla(9, 100%, 64%, 0.5);}
        </style>
</head>
<body bgcolor="pink">
    <h1><center>MEMORY GAME</center></h1>
    <br>
    <h2><center>In the Memory Universe, stars align with every match. Are you ready to create your own constellation of recollection?</center></h2>
    <br>
    <center>
        <table>
            <tr>
                <th>NAME</th>
                <th>DEPARTMENT</th>
                <th>SCORE</th>
            </tr>
            {% for data in datas %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.dept}}</td>
                <td></td>
            </tr>
            {% endfor %}
    </center>
</body>
</html>